.notification-details {
    background-color: #e8f5e9;
    border: 1px solid #c8e6c9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 2; /* Adjust as needed to control width ratio */
  }
  
  .notification-details h3 {
    margin-top: 0;
    color: #388e3c;
  }
  