/* PieChart.css */

.pie-chart-container {
    display:inline-flex;                /* Use flexbox for layout */
    justify-content:flex-start; /* Distribute space evenly around the charts */
    align-items: center;          /* Center the charts vertically */
    gap: 20px;                    /* Space between charts */
    padding: 20px;                /* Padding around the container */
    overflow-y: auto;
  }
  
  /* .pie-chart {
    flex: 3;                      
    max-width: 100%;               
    box-sizing: border-box;  
    flex: 1 1 50%;  
    min-width: 400px;    
  }  */
 
  .pie-chart h3{
    color: rgba(153, 102, 255, 1);
    justify-content: center;
  }

  